.TodoTemplate {
  height: 100%;
  display: flex;
  flex-direction: column;
  .Title {
    margin: 0;
    background: #176d83;
    color: white;
  }
  .Contents {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding:10px;
    .TodoInput {
      display: flex;
      input {
        flex: 9;
      }
      button {
        flex: 1;
      }
    }
    .List {
      padding: 0;
      margin: 0;
      list-style: none;
      text-align: left;
    }
  }
}
